/* media queries */
@media screen and (max-width:480px) {
    .nav-button {
        display: block;
    }
    .logo {
        max-width: 60px;
        padding: 5px;
    }
    #categories {
        order: 5;
        flex-direction: column;
        min-width: 100%;
        max-height: 0px;
        overflow:hidden;
    }
    #categories.open {
        max-height: 50vh;
    }
    .page-header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner h2 {
        font-size: 2rem;
    }
    .banner {
        min-height: 40vh;
    }
    .content {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .social {
        order: -1;
        justify-content: center;
        min-width: 100%;
    }
    .legal {
        justify-content: center;
    }
    .footer {
        min-height: 30vh;
    }
}